<!doctype html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
  <%- include('../partials/nav.ejs') %>


  <div class="container my-4">
    <div class="clearfix">

      <h1 class="display-4 my-3 float-left"><%= blog.title %></h1>

      <svg width="1.5em" id="trashcan" height="1.5em" viewBox="0 0 16 16" class="bi bi-trash float-right" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
        style="cursor: pointer;" data-doc="<%= blog._id %>">
        <path
          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
        <path fill-rule="evenodd"
          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
      </svg>
    </div>
    <p><%= blog.body %></p>
  </div>

  <%- include('../partials/footer.ejs') %>
</body>
<script>
  const trashcan = document.getElementById('trashcan');
  trashcan.addEventListener('click', (e)=>{
    const endpoint = `/blogs/${trashcan.dataset.doc}`;
    fetch(endpoint, {
      method: 'DELETE'
    })
    .then( response => response.json() )
    .then( data => window.location.href = data.redirect )
    .catch( err => console.log(err) )
  })
</script>
</html>